body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
}

.avatar {
  width: 150px;
  border: #00000000 solid 0px;
  border-radius: 8px;
}

.avatar:hover {
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 400px;

  background: hsla(211, 96%, 62%, 1);

  background: linear-gradient(
    90deg,
    hsla(211, 96%, 62%, 1) 0%,
    hsla(295, 94%, 76%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(211, 96%, 62%, 1) 0%,
    hsla(295, 94%, 76%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(211, 96%, 62%, 1) 0%,
    hsla(295, 94%, 76%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#439CFB", endColorstr="#F187FB", GradientType=1 );
  color: #2b2839;

  border-radius: 7px;

  padding: 20px;

  margin: 0px auto;
}
